.intro__right-pattern {
  position: absolute;
  top: 0;
  right: 0%;
  width: 26%;
  z-index: 1;

  @media only screen and (max-width: $bp-medium) {
    display: none;
  }
}

.intro__left-pattern {
  position: absolute;
  top: 65%;
  left: 0;

  @media only screen and (max-width: $bp-medium) {
    display: none;
  }
}

.hr-top {
  width: 12%;
  margin-top: -4rem;
  margin-bottom: 6rem;

  @media only screen and (max-width: $bp-medium) {
    display: none;
  }
}

.hr-middle {
  width: 20%;
  margin-bottom: 3rem;
}

.intro__bottom--pattern {
  position: absolute;
  top: 0;
  z-index: -1;

  @media only screen and (max-width: $bp-medium) {
    width: 65%;
  }
}

.intro__right-pattern--mobile {
  position: absolute;
  right: 0;
  bottom: -37%;

  @media only screen and (min-width: $bp-medium) {
    display: none;
  }
}

.intro__left-pattern--mobile {
  position: absolute;
  top: 0;

  @media only screen and (min-width: $bp-medium) {
    display: none;
  }
}
