.intro__right-pattern {
position: absolute;
    top: 0;
    right: 0%;
    width: 23%;
}

.intro__left-pattern {
    width: 13%;
    position: absolute;
    top: 66%;
    left: 0;
}

.hr-top {width: 20%;
    margin-top: -4rem;
    margin-bottom: 6rem; }

.hr-middle {
    width: 20%;
    margin-bottom: 3rem; }

